<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <menuitem id="menu_his_root" name="HIS" sequence="10"/>
  <menuitem id="menu_his_patients" name="Patients" parent="menu_his_root" sequence="10"/>
  <record id="action_his_patients" model="ir.actions.act_window">
    <field name="name">Patients</field>
    <field name="res_model">his.patient</field>
    <field name="view_mode">tree,form</field>
  </record>
  <menuitem id="menu_his_patients_action" name="All Patients"
            parent="menu_his_patients" action="action_his_patients" sequence="10"/>

  <record id="action_his_encounters" model="ir.actions.act_window">
    <field name="name">Encounters</field>
    <field name="res_model">his.encounter</field>
    <field name="view_mode">tree,form</field>
  </record>
  <menuitem id="menu_his_encounters" name="Encounters"
            parent="menu_his_root" action="action_his_encounters" sequence="20"/>
</odoo>
